<div class="input-group form-group-lg">
	<span class="input-group-addon">Number type</span>
	<select class="form-control" name="phone_number[number_type]">
		<option value="Mobile">Mobile</option>
		<option value="Work">Work</option>
		<option value="Home">Home</option>
		<option value="Main">Main</option>
		<option value="Work Fax">Work Fax</option>
		<option value="Home Fax">Home Fax</option>
	</select>
</div><br>